.main-home-page{
    margin-top: 0;
}
.easiest-stock{
    padding-left: 16rem;
    padding-top: 6rem;
}
.home-stock-img{
    height:25rem;
    width: 50rem;
    padding-left: 0;
    padding-top: 3rem;

}